/***General Section***/
body{
  margin: 10px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
  line-height: 20px;
}

h1, h2, h3{
  font-family: 'Lora', serif;
}

/***Navigation Section***/
nav{
  height: auto;
  min-height: 80px;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 1;
}

#my-name{
  font-size: 24px;
  text-transform: uppercase;
  text-align: left;
  padding: 20px 0 0 30px;
}

#my-name a{
  color: gray;
}

#my-name a:hover{
  text-decoration: none;
  font-weight: bolder;
  color: black;

}

#navigation-bar{
  padding: 20px 20px 0 0;
  text-align: right;
}

nav ul li{
  display: inline-block;
  font-size: 16px;
  padding-right: 20px;
}

nav ul li a{
  text-decoration: none;
  color: inherit;
}

nav ul li a:hover{
  color: black;
  font-weight: bolder;
  text-decoration: none;
}


/***Masthead Section***/
.content-below-nav{
  padding-top: 70px;
}

header{
  background: url(../img/masthead.jpg) no-repeat white;
  height: auto;
  min-height: 600px;
  background-size: cover;
}

.masthead-text{
  padding-top: 70px;
  text-align: center;
  font-weight: bolder;
}

header .gray{
  color: gray;
  font-size: 40px;
}


/***About Me Section***/
#about-section{
  height: auto;
  min-height: 650px;
  padding: 30px 0 0 30px;
}

#about-section h2{
  padding: 0 0 40px 0;
}

#about-section h4{
  text-align: center;
  font-weight: bolder;
  margin-top: 50px;
}

.about-me-content p{
  line-height: 40px;
}

#column-2{
  text-align: center;
}


/***Work Section***/
#work-section{
  background-color: #f3f3f3;
  height: auto;
  min-height: 500px;
  padding: 30px 0 0 30px;
}

#work-section h2{
  padding: 0 0 40px 0;
}

.work-grid-container .work-section-element{
  text-align: center;
  margin: 40px auto 50px auto;
}

.work-grid-container i{
  font-size: 50px;
}

/***Portfolio Section***/
#portfolio-section{
  height: auto;
  min-height: 800px;
  padding: 30px 0 0 30px;
}

#portfolio-section h2{
  padding: 0 0 40px 0;
}

#portfolio-section .col-md-4{
  text-align: center;
}

#portfolio-section img{
  width: 100%;
  height: auto;
}

.description-on-hover{
 display: none;
 position: absolute;
 width: 90%;
 top: 200px;
 text-align: center;
}

.dim-on-hover img{
  opacity: 0.1;
}

#portfolio-section .col-md-4 h3{
  text-align: center;
  line-height: 40px;
}

#portfolio-section .col-md-4 p{
  text-align: center;
  line-height: 20px;
  margin: 20px 0;
}

#portfolio-section .col-md-4 a{
  text-align: center;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
}

.btn{
  background: #222;
  border-radius: 0;
  color: white;
  padding: 15px 30px;

}

/***Contact Section***/
#contact-section{
  height: auto;
  min-height: 600px;
  background-color: #f3f3f3;
  padding: 30px 0 0 30px;
}

#contact-section h2{
  padding: 0 0 40px 0;
}

.vertical-align {
    display: flex;
    align-items: center;
}

#contact-section .col-md-6{
  text-align: center;
}

#contact-section img{
  border-radius: 50%;
  max-width: 350px;
}

#contact-section .contact-links{
  font-size: 30px;
}

#contact-section a{
  text-decoration: none;
  color: inherit;
  padding: 0px 10px;
}

#contact-section a:hover{
  color: gray;
}

#contact-section p{
  font-size: 20px;
}
