/***General Section***/
body{
  margin: 10px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
  line-height: 20px;
}

h1, h2, h3{
  font-family: 'Lora', serif;
}


/***Navigation Section***/
nav{
  height: auto;
  min-height: 60px;
}

#my-name{
  font-size: 24px;
  /*width: 50%;*/
  text-transform: uppercase;
  text-align: left;
  padding: 20px 0 0 30px;
  /*padding: 20px 0 0 30px;*/
}

#navigation-bar{
  padding: 20px 20px 0 0;
  text-align: right;
}

nav ul li{
  display: inline-block;
  font-size: 16px;
  padding-right: 20px;
}

nav ul li a{
  text-decoration: none;
  color: inherit;
}

nav ul li a:hover{
  color: black;
  font-weight: bolder;
}


/***Masthead Section***/
header{
  background: url(../img/masthead.jpg) no-repeat white;
  height: auto;
  min-height: 600px;
  background-size: cover;
}

.masthead-text{
  padding-top: 70px;
  text-align: center;
  font-weight: bolder;
}

header .gray{
  color: gray;
  font-size: 40px;
}


/***About Me Section***/
#about-section{
  height: auto;
  min-height: 600px;
  padding: 30px 0 0 30px;
}

#about-section h2{
  padding: 0 0 40px 0;
}

#about-section h4{
  text-align: center;
  font-weight: bolder;
}

.about-me-content p{
  line-height: 40px;
}

#column-2{
  text-align: center;
}


/***Portfolio Section***/
#portfolio-section{
  height: auto;
  min-height: 1400px;
  padding: 30px 0 0 30px;
  background-color: #f3f3f3;
}

#portfolio-section h2{
  padding: 0 0 10px 0;
}

.portfolio-grid-container img{
  height: 350px;
  width: 590px;
  padding: 10px 10px;
  filter: grayscale(100%);
}

.portfolio-grid-container img:hover{
  filter: none;
}

.col-md-6{
  padding: 50px 0;
}

.col-md-6 h3{
  text-align: center;
  line-height: 40px;
}

.col-md-6 p{
  text-align: center;
  line-height: 20px;
}

.col-md-6 a{
  text-align: center;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
}

.col-md-6{
  text-align: center;
}

.btn{
  background: #222;
  border-radius: 0;
  color: white;
  padding: 15px 30px;

}

#portfolio-section .class{
  color: white;
}


/***Contact Section***/
#contact-section{
  height: auto;
  min-height: 600px;
  padding: 30px 0 0 30px;
  clear: both;
}

#contact-section h2{
  padding: 0 0 40px 0;
}

#contact-section img{
  height: 400px;
  width: 400px;
  filter: grayscale(100%);
  float: right;
  margin-right: 200px;
  padding-bottom: 20px;
}

#contact-section img:hover{
  filter: none;
}

#contact-section .contact-links{
  padding: 200px 0 0 200px;
  font-size: 30px;
}

#contact-section .contact-links:hover{
  color: black;
  font-weight: bolder;
}

#contact-section a{
  text-decoration: none;
  color: inherit;
  padding: 0px 10px;
}

#contact-section p{
  font-size: 20px;
}
