/***General Section***/
body{
  margin: 10px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
  line-height: 20px;
}

h1, h2, h3{
  font-family: 'Lora', serif;
}

/***Navigation Section***/

.navbar-default{
  background-color: white;
  border-color: #e7e7e7;
  min-height: 80px;
}

.nav-top-margin{
  margin-top: 20px;
}

#my-name{
  font-size: 24px;
  text-transform: uppercase;
  padding: 20px 0 0 30px;
}

#my-name a{
  color: gray;
  text-decoration: none;
}

#my-name a:hover{
  text-decoration: none;
  font-weight: bolder;
  color: black;
  cursor: pointer;
}

#navigation-links{
  justify-content: flex-end;
  width: 100%;
  padding: 20px 0 0 0;
}

nav ul li{
  font-size: 16px;
}

nav ul li a{
  text-decoration: none;
  color: inherit;
}

nav ul li a:hover{
  color: black;
  font-weight: bolder;
  text-decoration: none;
  cursor: pointer;
}

/***Masthead Section***/
.content-below-nav{
  padding-top: 45px;
}

#home{
  display: none;
  background-image: url('../img/masthead.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.masthead-text{
  display: none;
  padding-top: 70px;
  text-align: center;
  font-weight: bolder;
}

header .gray{
  color: gray;
  font-size: 40px;
}


/***About Me Section***/
#about-section{
  height: auto;
  min-height: 650px;
  padding: 30px 0 0 30px;
}

#about-section h2{
  padding: 0 0 40px 0;
}

#about-section h4{
  text-align: center;
  font-weight: bolder;
  margin-top: 50px;
}

.about-me-content p{
  line-height: 40px;
}

#about-me-column-1{
  padding-left: 100px;
}

#about-me-column-2{
  text-align: center;
}


/***Work Section***/
#work-section{
  background-color: #f3f3f3;
  height: auto;
  min-height: 500px;
  padding: 30px 0 0 30px;
}

#work-section h2{
  padding: 0 0 40px 0;
}

.work-grid-container .work-section-element{
  text-align: center;
  margin: 40px auto 90px auto;
}

.work-grid-container i{
  font-size: 50px;
}

/***Portfolio Section***/
#portfolio-section{
  height: auto;
  min-height: 800px;
  padding: 30px 0 0 0;
}

#portfolio-section h2{
  padding: 0 0 40px 0;
}

#portfolio-section .col-md-4{
  text-align: center;
  padding: 20px 15px 80px 15px;
}

#portfolio-section img{
  width: 100%;
  height: auto;
}

.image-container {
  width: 100%;
  height: 534px;
  background-color: inherit;
}

#portfolio-section .col-md-4 h3{
  text-align: center;
  line-height: 40px;
}

#portfolio-section .col-md-4 p{
  text-align: center;
  line-height: 20px;
  margin: 20px 0;
}

#portfolio-section .col-md-4 a{
  text-align: center;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
}

.btn{
  background: #222;
  border-radius: 0;
  color: white;
  padding: 15px 30px;
  cursor: pointer;
  margin: 10px 0;
}

.btn:hover{
  color: gray;
}

.centered-button{
  text-align: center;
  margin: 0 0 30px 0;
}

.btn a{
  color: white;
  text-decoration: none;
}

.btn a:hover{
  color: white;
  color: gray;
  text-decoration: none;
}

/*Portfolio section on hover*/
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  min-height: 634px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.portfolio-item-container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/***Contact Section***/
#contact-section{
  height: auto;
  min-height: 600px;
  background-color: #f3f3f3;
  padding: 30px 0 0 30px;
}

#contact-section h2{
  padding: 0 0 40px 0;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.column-center{
  flex-grow: 1;
}

.column-min-height{
  min-height: 350px;
}

#contact-section .col-md-6{
  text-align: center;
}

#contact-section img{
  border-radius: 50%;
  max-width: 350px;
}

#contact-section .contact-links{
  font-size: 30px;
}

#contact-section a{
  text-decoration: none;
  color: inherit;
  padding: 0px 10px;
}

#contact-section a:hover{
  color: gray;
  cursor: pointer;
}

#contact-section p{
  font-size: 20px;
}

p#location{
  font-size: 18px;
  margin: 30px 0;
}

img#headshot {
  max-width: 100%;
  height: auto;

}


/*smart phone*/
@media (min-width: 320px) and (max-width: 480px) {

  #about-me-column-1{
    padding-left: 0px;
  }

  .overlay {
    min-height: 634px;
  }

}

/*ipad*/
@media (min-width: 768px) and (max-width: 1023px) {

  #about-me-column-1{
    padding-left: 0px;
  }

  .overlay {
    min-height: 545px;
  }



}

/*ipad pro*/
@media (min-width: 1024px) and (max-width: 1366px) {

  #about-me-column-1{
    padding-left: 80px;
  }

  .overlay {
    min-height: 600px;
  }



}
